@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 10px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  color: lightgray;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.header .right-links, .header .left-links {
  display: flex;
  gap: 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: gray;
}

.footer {
  margin-top: auto;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  background-color: #eeeeee;
}

.footer .right-links, .footer .left-links {
  display: flex;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  gap: 10px;
}